@charset "utf-8";

#srv1 {
  top: 16.2%;
  left: 25.5%;
  transform: rotate(180deg);
  width: 16.03%;
}

#srv2 {
  top: 23%;
  left: 53.5%;
  transform: rotate(160deg);
}

#srv3 {
  top: 15.2%;
  left: 80%;
  transform: rotate(165deg);
}

#srv4 {
  top: 31.8%;
  left: 15.5%;
  transform: rotate(-90deg);
}

#srv5 {
  top: 34%;
  left: 27.2%;
  transform: rotate(45deg);
}

#srv6 {
  top: 41.2%;
  left: 18%;
  transform: rotate(120deg);
}

#srv7 {
  top: 31.5%;
  left: 47%;
  transform: rotate(45deg);
}

#srv8 {
  top: 43.8%;
  left: 49.4%;
  transform: rotate(-135deg);
}

#srv9 {
  top: 32.2%;
  left: 68%;
  transform: rotate(-45deg);
}

#srv10 {
  top: 31.2%;
  left: 77%;
  transform: rotate(-75deg);
}

#srv11 {
  top: 36%;
  right: 2%;
  transform: rotate(150deg);
}

#srv12 {
  top: 51.2%;
  left: 38.5%;
  transform: rotate(45deg);
}

#srv13 {
  top: 57%;
  left: 44%;
  transform: rotate(30deg);
}

#srv14 {
  top: 59%;
  left: 65.2%;
  transform: rotate(-60deg);
}

#srv15 {
  top: 51%;
  left: 78.2%;
  transform: rotate(45deg);
  width: 12.82%;
}

#srv16 {
  top: 72%;
  left: 43%;
  transform: rotate(45deg);
}

#srv17 {
  top: 76.2%;
  left: 60.8%;
}

#min2 {
  top: 12.5%;
  left: 7.5%;
  transform: rotate(135deg);
  width: 8.01%;
}

#min4 {
  top: 12.5%;
  left: 83%;
  transform: rotate(45deg);
  width: 8.01%;
}

#min6 {
  top: 61.5%;
  left: 77.5%;
  transform: rotate(135deg);
  width: 8.01%;
}
