@charset "utf-8";

svg {
  width: 8.26%;
}

#hnt1 {
  top: 11.5%;
  left: 8.8%;
}

#hnt2 {
  top: 79.5%;
  left: 28.5%;
}

#hnt3 {
  top: 38.8%;
  left: 50%;
}

#hnt4 {
  top: 78.7%;
  left: 78.8%;
}

#hnt5 {
  top: 5.5%;
  left: 72%;
}

#hnt6 {
  top: 54.4%;
  left: 25.7%;
}
