@charset "utf-8";

svg {
  width: 9.62%;
}

#hnt1 {
  top: 44%;
  left: 8.4%;
}

#hnt2 {
  top: 20%;
  left: 7%;
}

#hnt3 {
  top: 0%;
  left: 35%;
}

#hnt4 {
  top: 19.7%;
  left: 82.3%;
}

#hnt5 {
  top: 37.8%;
  right: 1.8%;
}

#hnt6 {
  top: 68.7%;
  left: 77%;
}

#hnt7 {
  top: 65%;
  left: 26.4%;
}

@media (max-aspect-ratio: 13/15) {
  #container {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media (min-aspect-ratio: 13/15) {
  #container {
    height: 100%;
  }

  img {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}
