@charset "utf-8";

svg {
  width: 6.65%;
}

#hnt1 {
  top: 70.6%;
  left: 76.8%;
}

#hnt2 {
  top: 17.9%;
  left: 47%;
}

#hnt3 {
  top: 67.7%;
  left: 59.7%;
}

#hnt4 {
  top: 22.5%;
  left: 72.5%;
}

#hnt5 {
  top: 67.6%;
  left: 38.2%;
}

#hnt6 {
  top: 70.6%;
  left: 33.4%;
}

#hnt7 {
  top: 29.4%;
  left: 4.6%;
}
