@charset "utf-8";

svg {
  width: 9.63%;
}

#hnt1 {
  top: 24%;
  left: 44.1%;
}

#hnt2 {
  top: 21.8%;
  left: 65.2%;
}

#hnt3 {
  top: 35%;
  left: 87.5%;
}

#hnt4 {
  top: 63%;
  left: 88.3%;
}

#hnt5 {
  top: 79.1%;
  left: 28.4%;
}

#hnt6 {
  top: 53.4%;
  left: 44.5%;
}
