@charset "utf-8";

svg {
  width: 6.14%;
}

#hnt1 {
  top: 10.8%;
  left: 19.6%;
}

#hnt2 {
  top: 12.2%;
  left: 35.7%;
}

#hnt3 {
  top: 35%;
  left: 31.8%;
}

#hnt4 {
  top: 52.4%;
  left: 22%;
}

#hnt5 {
  top: 69.4%;
  left: 71.2%;
}

@media (max-aspect-ratio: 1465/729) {
  #container {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media (min-aspect-ratio: 1465/729) {
  #container {
    height: 100%;
  }

  img {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}
