@charset "utf-8";

#hnt1 {
  transform: rotate(105deg);
}

#hnt2 {
  transform: rotate(135deg);
}

#hnt3 {
  transform: rotate(120deg);
}

#hnt4 {
  transform: rotate(-150deg);
}

#hnt5 {
  transform: rotate(-15deg);
}

#hnt6 {
  transform: rotate(45deg);
}

#hnt7 {
  transform: rotate(45deg);
}

#hnt8 {
  transform: rotate(180deg);
}

#hnt9 {
  transform: rotate(135deg);
}
