@charset "utf-8";

#hnt1 {
  transform: rotate(45deg);
}

#hnt3 {
  transform: rotate(45deg);
}

#hnt5 {
  transform: rotate(90deg);
}

#hnt6 {
  transform: rotate(45deg);
}

#hnt7 {
  transform: rotate(45deg);
}
